# ===== IDE =====
.idea/
*.iml
.vscode/

# ===== Java / Maven =====
target/

# ===== Angular / Node =====
node_modules/
dist/
.angular/

# ===== Runtime files =====
uploads/

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Env / secrets =====
application-local.yaml
.env