<div class="gallery">

  @for (img of images(); track img.id) {

    <mat-card class="image-card">

      <img
        mat-card-image
        [src]="imageUrl(img.id)"
        alt="uploaded image"
      />

      <mat-card-content class="status-row">

        @if (img.predictedLabel) {

          <mat-chip
            class="status-chip"
            [color]="img.predictedLabel === 'DOG' ? 'primary' : 'accent'"
            selected>
            {{ img.predictedLabel }}
          </mat-chip>

          @if (img.confidence !== null) {
            <mat-chip class="confidence">
              {{ (img.confidence * 100) | number:'1.0-0' }} %
            </mat-chip>
          }

        } @else {

          <mat-chip class="status-chip" selected>
            PENDING
          </mat-chip>

          @if (predicting().has(img.id)) {
            <mat-progress-spinner
              diameter="20"
              mode="indeterminate">
            </mat-progress-spinner>
          } @else {
            <button
              mat-button
              color="primary"
              (click)="predict(img.id)">
              Predict
            </button>
          }

        }

      </mat-card-content>

    </mat-card>

  }

</div>
